@media screen and (min-width: 480px) {

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

body {
  background-color: #fcf8f7;
}

table {
  margin: auto;
  background-color: grey;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  margin-bottom: 15px;
}

input:hover {
  color: black;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
}

input:active {
  top: 4px;
  border: 0 solid #000;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
}

#display {
  width: 275px;
  max-width: 275px;
  font-size: 26px;
  text-align: right;
  color: black;
  background-color: #dfeba7;
  float: left;
}

#display:active {
  top: 5px;
  width: 275px;
  font-size: 26px;
  color: black;
  text-align: right;
  background-color: #dfeba7;
}

.operator {
  background-color: lightgrey;
  position: relative;
}

.operator:hover {
  background-color: lightgrey;
}

.operator:active {
  top: 4px;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #bb9ae3;
}

#equal {
  float: left;
  position: relative;
  display: block;
  background-color: #a7ebe2;
}

}
